<body>
    <section class="content ecommerce-page">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-7 col-md-6 col-sm-12">
                    <h2>Modifier une actualité
                        <!-- <small class="text-muted">Bienvenue à BrainNut </small> -->
                    </h2>
                </div>
                <div class="col-lg-5 col-md-6 col-sm-12">
                    <ul class="breadcrumb float-md-right">
                        <li class="breadcrumb-item"><a routerLink="/backoffice"><i class="zmdi zmdi-home"></i>
                            SuperAdmin</a>
                        </li>
                        <li class="breadcrumb-item active"><a routerLink="/backoffice/actualites">Actualités</a></li>
                        <li class="breadcrumb-item active">Modifier une actualité </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="main-content">
                <section class="section">
                    <div class="section-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <form [formGroup]="registerForm"   >
                                        <div class="card-body">

                                            <div class="form-group row mb-4">
                                                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Titre
                                                   </label>
                                                <div class="col-sm-12 col-md-7">
                                                    <input type="text" formControlName="titre" class="form-control" 
                                                        placeholder="Entrez le titre d'une actualité"  [(ngModel)]="actualites.titre"
                                                        [ngClass]="{ 'is-invalid': submitted && fval_2.titre.errors }" />  

                                                        <div *ngIf="submitted && fval_2.titre.errors" class="invalid-feedback">
                                                            <div *ngIf="fval_2.titre.errors.required">Champs obligatoire</div>
                                                        </div>
                                                </div>
                                               
                                            </div>

                                            <div class="form-group row mb-4">
                                                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Description
                                                   </label>
                                                <div class="col-sm-12 col-md-7">
                                                    <input type="text" formControlName="description" class="form-control" 
                                                        placeholder="Entrez la description d'une actualité"   [(ngModel)]="actualites.description"
                                                        [ngClass]="{ 'is-invalid': submitted && fval_2.description.errors }" />  

                                                        <div *ngIf="submitted && fval_2.description.errors" class="invalid-feedback">
                                                            <div *ngIf="fval_2.description.errors.required">Champs obligatoire</div>
                                                        </div>
                                                </div>
                                               
                                            </div>

                                         
                                         
                                            <div class="form-group row mb-4">
                                                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Photo Actuel   
                                                   </label>
                                            </div>
                                            <div class="col-sm-12 col-md-7">   
                                                <p > <i class="i">lll</i> <b>{{actualites.originalname}}</b></p> 
                                                
                                           </div>

                                           <!-- <strong class="file">Si vous voulez changer la photo actuel, vous devez sélectionner un nouveau photo   </strong> -->
                                           <br>
                                           <br>

                            
                                            <div class="form-group row mb-4">
                                                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Photo
                                                   </label>
                                                <div class="col-sm-12 col-md-7">
                                                    <input #fileInput type="file" formControlName="image" class="form-control" 
                                                   
                                                        [ngClass]="{ 'is-invalid': submitted && fval_2.image.errors }" />  

                                                        <div *ngIf="submitted && fval_2.image.errors" class="invalid-feedback">
                                                            <div *ngIf="fval_2.image.errors.required">Champs obligatoire</div>
                                                        </div>
                                                </div>
                                               
                                            </div>
                                           
                                            <br>
                                            <br>
                                            <div class="form-group row mb-4">
                                                <label
                                                    class="col-form-label text-md-right col-12 col-md-3 col-lg-3"></label>
                                                <div class="col-sm-12 col-md-7">
                                                    <button (click)="onSubmit()" class="btn btn-primary" value="submit"
                                                        type="submit">Modifier</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
</body>



